.about-container {
  width: 100%;
  max-width: 900px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.personel-card {
  max-width: 350px;
  min-width: 220px;
  margin: auto;

}

.about-body {
  max-height: 220px;
}

.welcome-text {
  font-style: italic;
  color: white;
}

.breakpoint {
  width: 1000px;
}
