.nav-container {
  padding-bottom: 50px;
  background: radial-gradient(to bottom right, grey 2%, #231F20 80%);
  width: 100%;
}

.menu-button {
  background-color: white;
  color: #cca969;
  border: none;
}

.navbar-toggler {
  border: none;
  box-shadow: none;
  background-color: black;
  margin-bottom: -5px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(173,151,79, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

button:focus {
  outline: 0px dotted;
  outline: 5px auto -webkit-focusring-color;

}

.proffs {
  font-size: 2em;
  font-weight: lighter;
  margin-top: -100px;
  color: #AD974F;
}

.salong {
  color: white;
  font-style: italic;
  opacity: .8;
}

.logo {
  margin-top: -50px;
  margin-bottom: -300px;
  min-width: 250px;
  width: 20%;
  margin: auto;
  opacity: .9;
}


.dropdown-item {
  padding: 10px;
  color: #AD974F;
}

.navbar-collapse {
  font-size: 1.1em;
}

div.slide-up {
  overflow:hidden;
}

div.slide-up .logo {
  animation: 2s slide-up;
  margin-top:0%;
}

@keyframes slide-up {
  from {
    margin-top: -10%;
    height: 100%;
  }

  to {
    margin-top: 0%;
    height: 100%;
  }
}
